 body {
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        background: url('img/bg.jpg');
    }

    .left {
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 20px;
        top: 54px;
    }

   
    .left div {
        line-height: 19px;
        font-size: 20px;
        text-align:center;
    }

    .mid {
        display: block;
        width: 70%;
        margin: 29px auto;
        /* border: 2px solid green; */
    }

    .right {
        position: absolute;
        right: 30px;
        top: 43px;
        display: inline-block;
        /* border: 2px solid yellow; */
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 20px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;

    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: grey;

    }

    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 5px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(31, 30, 30);
    }

    .container {
        border: 2px solid white;
        margin: 100px 60px;
        padding: 25px;
        width: 250px;
        border-radius: 28px;
    }

    .form-group input {
        font-family: 'Baloo Bhai', cursive;
        text-align: left;
        display: block;
        width: 250px;
        padding: 1px;
        border: 2px solid black;
        margin: 6px auto;
        font-size: 20px;
        border-radius: 5px;
    }

    .container h1 {
        text-align: left;
    }

    .container button {
        display: block;
        width: 45%;
        margin: 20px auto;
    }